.content {
    padding: 0;
}

.news-header {
    background-color: #a5cfe0;
}

.news-header span {
    display: block;
    padding: 10px 0 10px 40px;
    font-weight: bold;
    font-size: 17px;
}

.news-list ul {
    list-style: none;
    padding-top: 20px;
    padding-left: 20px;
}

.slider {
    background-color: #adadad;
    height: 329px;
}

.entity-header {
    background-color: #189ed5;
    display: flex;
    align-items: center;
    font-weight: bold;
    height: 50px;
}

.entity-header span {
    display: block;
    padding-left: 40px;
    font-size: 17px;
}

.entity-group-by {
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    align-items: center;
}

.item {
    padding-left: 15px;
    float: right;
}

.item a {
    font-weight: bold;
    text-decoration: none;
    color: #363635;
}

.item a:hover {
    color: #fff;
}

.events {
    position: relative;
    padding-top: 10px;
}

.poster {
    background: url("../img/event.png");
    height: 292px;
    width: 202px;
    margin: 0;
}

.event-div {
    padding-left: 10px;
    margin-bottom: 10px;
}

.event-div span {
    display: block;
    padding: 8px 0;
    font-weight: bold;
    font-size: 17px;
}

.more {
    background-color: #b9d4c7;
    margin-bottom: 10px;
}

.more a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #363635;
    padding: 3px 0;
    font-weight: bold;
    font-size: 17px;
}

.more a:hover {
    color: #fff;
}

.city-search {
    margin-top: 6px;
}

.city-search input {
    height: 30px;
    width: 440px;
    border: solid 1px;
    padding: 0 6px;
}

.city-search button {
    background-color: #a5cfe0;
    height: 30px;
    width: 80px;
    border: solid 1px;
    padding: 0 6px;
}

.city-search button:hover {
    color: #fff;
}

.places-table-head {
    background-color: #b9d4c7;
}