{% extends '::base.html.twig' %}

{% block title %}Обратная связь{% endblock %}

{% block body %}
    <div class="row">
        <div class="medium-6 medium-offset-3 columns">
            <div id="form" class="feedback">
                <label for="email">E-Mail:</label>
                <input id="email" type="text" class="form-control" style="width: 60%">
                <label for="message">Сообщение:</label>
                <textarea id="message" rows="8" class="form-control"></textarea>
                <button id="feedback-btn\" class="white-btn"><a href="#">Отправить</a></button>
            </div>
        </div>
    </div>
{% endblock %}